@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
:root{
  --yellow-theme-background-color : #1d1d1d;
  /* --yellow-theme-main-color : #ffdd40; */
  --yellow-theme-main-color : #ffffff;
  --yellow-theme-sub-text-color :#ffffff;
  --yellow-theme-nav-background-color : #181818;
}
/* :root{
  --yellow-theme-background-color : linear-gradient(#4b79a1,#8bc1f1);
  --yellow-theme-main-color : #2032d6;
  --yellow-theme-sub-text-color :#4b79a1;
  --yellow-theme-nav-background-color :linear-gradient(#c78227,#8bc1f1);
} */
.custom-shape-divider-bottom-1728679027 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1728679027 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.custom-shape-divider-bottom-1728679027 .shape-fill {
  fill: #ffffff;
}
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  scroll-behavior: smooth;
}
html{
  font-size: 62.5%;
  height:100%
}
body{
  background: linear-gradient(#4b79a1,#8bc1f1) ;
  
/* background-image: url("./images/image4.jpg"); */
/* background-image: url("./images/M2.jpg"); */

  background-repeat: no-repeat;
  background-size: cover; 

  height: 100%;
}
#root{
  height: 100%;
}